<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Playground1 </title>
        <style>
            h1 {
                text-align:center
            }
            .cuerpo {
                text-align:center;
            }
            .cuerpo > div {
                border: solid black;
                width: 150px;
                height:150px;
                color: transparent;
                display:inline-block;
                margin:20px 20px 20px 0px;
                border-radius:10px
            }
        </style>
    </head>
    <body>
        <h1 >
            Welcome!
        </h1>
        <div class='cuerpo' >
            {% for i in range(0,numero) %}
                <div style="background-color: {{col}}"> {{ i }} </div>
            {% endfor %}           
        </div>

    </body>
</html>